@media screen and (max-width: 743px) {
  body {
    min-height: auto;
    overflow-x: hidden;
  }

  .header {
    background-color: rgba(231, 216, 201, 0.95);
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .select {
    margin-top: 0;
    margin-left: auto;
    order: 3;
    width: 75px;
  }

  .selected {
    font-size: 12px;
    padding: 3px;
    width: 100%;
    margin-left: 0;
  }

  .nav_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }

  .toggle-switch {
    order: 2;
    margin-left: auto;
  }

  .logo_header {
    width: 60px;
    height: 60px;
  }

  .img_burgermenu,
  .img_closemenu {
    width: 30px;
    height: 30px;
  }

  .switch-label {
    width: 70px;
    height: 35px;
    border-radius: 17.5px;
  }

  .ul_header {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: rgba(231, 216, 201, 0.95);
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 90;
  }

  .ul_header.active {
    display: flex;
  }

  .li_header {
    margin: 10px 0;
    width: fit-content;
  }

  .line_header {
    display: none;
  }

  .burger_menu {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: auto;
    z-index: 101;
  }

  .img_burgermenu {
    width: 30px;
    height: 30px;
  }

  body.dark-theme .ul_header {
    background-color: rgba(75, 76, 79, 0.95);
  }

  .slider::before {
    top: 7px;
    left: 7px;
    width: 20px;
    height: 20px;
  }

  .checkbox:checked ~ .slider::before {
    transform: translateX(35px);
  }

  .select {
    margin-top: 0;
    margin-left: 10px;
    width: 60px;
  }

  .selected {
    font-size: 12px;
    padding: 3px;
    width: 60px;
  }

  .arrow {
    width: 15px;
    height: 7px;
  }

  .options {
    top: -10px;
    margin-bottom: 25px;
  }

  .option {
    font-size: 12px;
    width: 80px;
  }

  .profile-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
  }

  .left-column {
    padding-right: 0;
    margin-bottom: 15px;
  }

  .ul_header {
    display: none;
  }

  .burger_menu {
    display: block;
  }

  .nav_header {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .a_nav img.logo_header {
    max-width: 100px;
  }

  .toggle-switch,
  .select {
    margin-left: auto;
  }

  .profile-image {
    width: 100px;
    height: 100px;
  }

  .right-column {
    padding-left: 0;
    width: 100%;
    text-align: left;
  }

  h1 {
    font-size: 38px;
  }

  p {
    font-size: 20px;
  }

  .qualification-section li {
    padding: 10px;
    font-size: 20px;
  }

  h2 {
    font-size: 38px;
  }

  ul {
    padding-left: 15px;
  }

  li {
    font-size: 14px;
  }
  .certificate-image {
    max-width: 80% !important;
    height: auto;
  }

  .accent-button,
  .floating-button {
    width: 40px;
    height: 40px;
    font-size: 16px;
    bottom: 15px;
    right: 15px;
    left: auto;
  }

  .modal-content {
    max-width: 95%;
    max-height: 95%;
  }

  .close-button {
    font-size: 30px;
    top: 10px;
    right: 20px;
  }

  .arrow {
    font-size: 24px;
    left: 10px;
    right: 10px;
  }

  .footer {
    padding: 10px 0;
  }

  .container_footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 95%;
  }

  .footer-links-left,
  .footer-links-right,
  .footer-contact {
    margin-bottom: 15px;
    width: 100%;
  }

  .footer-item,
  .footer-contact-item {
    font-size: 16px;
  }

  .footer-logo-img {
    width: 120px;
    height: 120px;
  }
  .swiper-container {
    height: 350px;
        padding: 40px 0;
  }
}
